@import url("/apps/styles/config.css");

.header {
    height: 100%;
    width: 20%;
    max-width: 280px;
    padding: 30px 10px;
    flex-shrink: 0;
    overflow-y: auto;
    position: fixed;
    z-index: 100;
    user-select: none;
    background: var(--white);
    box-shadow: 0 1em 2em var(--transparent-gray);
}

.header::-webkit-scrollbar{
    width: 0.325em;
}

.header::-webkit-scrollbar-thumb{
    width: 1em;
    opacity: 0;
    visibility: hidden;
    border-radius: 2em;
    background-color: var(--extra-light-gray);
}

.header:hover::-webkit-scrollbar-thumb{
    opacity: 1;
    visibility:visible;
}

.profile {
    width: 100%;
    overflow: hidden;
    padding-bottom: 1em;
    border-bottom: 1px solid var(--light-gray);
}

.profile-img {
    width: 150px;
    height: 150px;
    background-color: var(--light-gray);
    border-radius: 50%;
    margin: 0 auto 20px;
}

.username-text {
    font-weight: 800;
    font-size: 1.4rem;
    padding: 0 20px;
}

.profile-rank {
    width: 100%;
    margin-top: 10px;
    display: flex;
    font-size: 13px;
    font-weight: bold;
    align-items: center;
    padding: 0.5em 20px;
    justify-content: end;
}

.profile-rank span {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: var(--primary-color);
    display: inline-block;
    margin-right: 5px;
}

.folders {
    margin-top: 20px;
    list-style: none;
}

.folders li {
    padding: 0.6em 20px;
    font-weight: bold;
    color: var(--dark-gray);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 20px;
    box-sizing: content-box;
    transition: all 250ms ease-out;
}

.folders span {
    margin-bottom: -4px;
}

.folders li:hover {
    font-weight: 900;
    font-size: 1.3rem;
    background-color: var(--more-light-gray);
    color: var(--black);
    padding-left: 1.5em;
}

.folders li i {
    margin-right: 10px;
    display: block;
    flex-shrink: 0;
    flex-grow: 0;
    font-size: 16px;
}

.categories {
    margin-top: 20px;
    list-style: none;
}

.categories li {
    padding: 8px 20px;
    font-weight: 200;
    font-size: 0.8rem;
    letter-spacing: 0.05em;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.categories li span {
    display: inline-block;
    line-height: 19px;
    color: var(--black);
}

.categories li:hover {
    background-color: var(--more-light-gray);
}

.categories li:hover span {
    color: var(--black);
}

.categories-label {
    width: 19px;
    height: 19px;
    /* border-radius: 50%; */
    border-style: solid;
    /* border-width: 5px; */
    display: inline-block;
    margin-right: 10px;
}

.categories-label.dark-blue {
    border-color: var(--dark-blue);
}

.categories-label.dark-yellow {
    border-color: var(--green);
}

.categories-label.cyan {
    border-color: var(--blue);
}

.categories-label.deep-red {
    border-color: var(--purple);
}

.logout-btn {
    font-weight: bold;
    color: var(--dark-gray);
    padding: 0 20px;
    margin-top: 50px;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
}

.logout-btn span {
    cursor: pointer;
    transform: rotate(180deg);
}

/* .app {
    gap: 2em;
    background-color: var(--light-gray);
    height: 100%;
    width: 80%;
    padding: 15% 20px 0;
    overflow-y: auto;
    flex-shrink: 0;
    transition: .5s;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
} */

.app {
    gap: 2em;
    width: 80%;
    display: grid;
    flex-shrink: 0;
    margin-left: 20%;
    min-height: 230%;
    position: relative;
    padding: 10em 2em 0;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--light-gray);
}

@media (max-width: 900px) {
    .app {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 760px) {
    .app {
        grid-template-columns: 1fr;
    }
}


/* @media (max-width: 768px) {
    .app {
        grid-template-columns: 1fr 1fr;
    }
} */

/* @media (max-width: 768px) {
    .app {
        grid-template-columns: 1fr 1fr;
    }
} */

.search-bar {
    top: 3em;
    right: 2em;
    width: 100%;
    position: absolute;
    height: 40px;
    margin-bottom: 30px;
    transition: .5s;
}

.search-bar form {
    width: 300px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    background-color: var(--extra-light-gray);
    border-radius: 5px;
    position: absolute;
    right: 0;
    transition: .3s;
}

.search-bar form input {
    background-color: transparent;
    outline: 0;
    border: 0;
    width: 100%;
    font-weight: bold;
    color: var(--dark-gray);
}

.note-item-container {
    width: 100%;
    /* display: flex; */
    gap: 10px;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.note-item {
    background-color: #fff;
    padding: 10px 0;
    border-radius: 5px;
    flex-basis: calc(25% - 7.5px);
    cursor: pointer;
    /* transition: .3s; */
    flex-grow: 0;
    flex-shrink: 0;
    height: 148px;
    position: relative;
    outline-width: 3px;
    outline-style: solid;
    outline-color: transparent;
}

.note-head {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
}

.note-head-title {
    font-weight: bold;
    font-size: 1.4rem;
}

.note-body h3 {
    margin-bottom: 20px;
    font-size: 12px;
    color: #7c7c7c;
    font-weight: 300;
    line-height: 19px;
    text-align: left;
}

.note-date-and-style {
    width: 100%;
    display: flex;
    height: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 10px;
    position: absolute;
    bottom: 10px;
}

.note-date-and-style span {
    display: inline-block;
}

.date {
    font-size: 13px;
    color: var(--dark-gray);
}

.style-color {
    height: 20px;
    width: 5px;
    border-radius: 10px;
    background-color: var(--primary-color);
}

.viewer {
    height: 100%;
    width: 55%;
    flex-shrink: 0;
}

.viewer-header {
    width: 100%;
    padding: 20px 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    margin-bottom: 40px;
}

.viewer-header i:hover {
    color: var(--primary-color);
}

.viewer-exit-btn i {
    cursor: pointer;
}

.viewer-accessibility-btns {
    margin-left: 30px;
}

.viewer-accessibility-btns i {
    margin: 0 10px;
    cursor: pointer;
}
    
.viewer-color {
    height: 20px;
    width: 30px;
    border-radius: 5px;
    background-color: var(--primary-color);
    transition: .3s;
}

.viewer-content {
    padding: 0 20px;
    width: 100%;
}

.viewer-content-heading {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
}

.viewer-content-paragraph {
    line-height: 20px;
    width: 100%;
}

/* add new note btn */

.new-note-btn-container {
    /* width: 100%; */
    cursor: pointer;
    z-index: 100;
    /* position: relative; */
}

.new-note-btn-container > i {
    width: 50px;
    height: 50px;
    background-color: var(--primary-color);
    border-radius: 50%;
    padding: 10px;
    position: fixed;
    z-index: 7;
    right: 20px;
    bottom: 20px;
    display: grid;
    place-items: center;
    color: #ffffff;
    font-size: 1.8rem;
    box-shadow: 3px 3px 0.6em var(--darker-transparent-black);
}

/* media queries */

@media screen and (max-width: 1103px) {
    .note-item-container {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }
    .note-item {
        flex-basis: calc(33.33% - 6.67px);
        height: 148px;
        position: relative;
    }
}

@media screen and (max-width: 980px) {
    .header {
        height: 100vh;
        width: 300px;
        background-color: #fff;
        padding: 30px 0px;
        position: absolute;
        z-index: 10;
        box-shadow: 0 0 10px #000;
    }
    .app {
        width: 100%;
    }
}

@media screen and (max-width: 950px) {
    .editor {
        /* width: 674px; */
        width: calc(100% - 60px);
        overflow-y: hidden;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .editor-body {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .editor-body-main {
        width: 100%;
        padding-right: 0;
    }
    .editor-body-side {
        width: 100%;
        margin-top: 10px;
    }
    .editor-body-side form {
        display: flex;
        align-items: center;
    }
    .editor-body-side form input {
        margin: 10px 5px 10px 10px;
    }
    .editor-body-side form input:nth-child(1) {
        margin: 10px 5px 10px 0;
    }
    .editor-footer-btn-container {
        margin-top: -65px;
    }
}

@media screen and (max-width: 750px) {
    .note-item {
        flex-basis: calc(50% - 5px);
    }
    .search-bar {
        width: 100%;
        position: none;
        height: 40px;
        margin-bottom: 30px;
        transition: .5s;
    }
    .search-bar form {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        padding: 0 20px;
        background-color: var(--gray-border);
        border-radius: 5px;
        position: none;
        right: 0;
        transition: .3s;
    }
    .viewer {
        height: 100%;
        width: 100%;
        transition: left .3s;
        position: fixed;
        top: 0;
        left: 100%;
    }
    .editor-container {
        padding: 0;
        height: 100vh;
        width: 100vw;
        background-color: #fff;
        display: block;
        position: fixed;
        left: 100%;
        transition: .3  s;
    }
    .editor {
        position: none;
        height: 100%;
        max-height: 100%;
        width: 100%;
        margin-top: 0;
    }
    .editor-body-main textarea {
        height: calc(100vh - 316px);
    }
    .editor-footer-btn-container {
        margin-top: -5px;
    }
    .new-note-btn-container {
        position: fixed;
        bottom: -10px;
        right:-10px;
        background-color: green;
    }
}

@media screen and (max-width: 450px) {
    .note-item {
        flex-basis: 100%;
    }
    .editor-footer-btn-container {
        width: 100%;
    }
    .editor-footer-btn-container button {
        display: block;
        width: 100%;
    }
    .editor-footer-btn-container button:nth-child(1) {
        margin-bottom: 5px;
        display: none;
    }
}
